USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJNCA]    Script Date: 22/04/2026 11:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJNCA](
	[TNCA_COD_ESTABLEC] [char](10) NOT NULL,
	[TNCA_RAZ_SOC] [smallint] NOT NULL,
	[TNCA_COD_PAIS] [smallint] NULL,
	[TNCA_COD_PROVIN] [smallint] NULL,
	[TNCA_COD_MUNICI] [smallint] NULL,
	[TNCA_DIR_BLOQUE] [char](3) NULL,
	[TNCA_DIR_PORTAL] [smallint] NULL,
	[TNCA_DIR_BIS] [char](1) NULL,
	[TNCA_DIR_ESCALERA] [char](2) NULL,
	[TNCA_DIR_PLANTA] [char](2) NULL,
	[TNCA_DIR_MANO] [char](2) NULL,
	[TNCA_DIR_PUERTA] [char](3) NULL,
	[TNCA_DIR_DISPOS] [decimal](5, 0) NULL,
	[TNCA_DIR_DISEST] [smallint] NULL,
	[TNCA_DIR_DESCALLE] [varchar](100) NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJNCA] ([TNCA_COD_ESTABLEC], [TNCA_RAZ_SOC], [TNCA_COD_PAIS], [TNCA_COD_PROVIN], [TNCA_COD_MUNICI], [TNCA_DIR_BLOQUE], [TNCA_DIR_PORTAL], [TNCA_DIR_BIS], [TNCA_DIR_ESCALERA], [TNCA_DIR_PLANTA], [TNCA_DIR_MANO], [TNCA_DIR_PUERTA], [TNCA_DIR_DISPOS], [TNCA_DIR_DISEST], [TNCA_DIR_DESCALLE]) VALUES (N'4060      ', 1, -1, 0, 0, N'   ', NULL, N' ', N'  ', N'  ', N'  ', N'   ', NULL, -1, N'')
INSERT [SYSPRO].[TSCIJNCA] ([TNCA_COD_ESTABLEC], [TNCA_RAZ_SOC], [TNCA_COD_PAIS], [TNCA_COD_PROVIN], [TNCA_COD_MUNICI], [TNCA_DIR_BLOQUE], [TNCA_DIR_PORTAL], [TNCA_DIR_BIS], [TNCA_DIR_ESCALERA], [TNCA_DIR_PLANTA], [TNCA_DIR_MANO], [TNCA_DIR_PUERTA], [TNCA_DIR_DISPOS], [TNCA_DIR_DISEST], [TNCA_DIR_DESCALLE]) VALUES (N'94        ', 1, -1, 0, 0, N'   ', NULL, N' ', N'  ', N'  ', N'  ', N'   ', NULL, -1, N'')
INSERT [SYSPRO].[TSCIJNCA] ([TNCA_COD_ESTABLEC], [TNCA_RAZ_SOC], [TNCA_COD_PAIS], [TNCA_COD_PROVIN], [TNCA_COD_MUNICI], [TNCA_DIR_BLOQUE], [TNCA_DIR_PORTAL], [TNCA_DIR_BIS], [TNCA_DIR_ESCALERA], [TNCA_DIR_PLANTA], [TNCA_DIR_MANO], [TNCA_DIR_PUERTA], [TNCA_DIR_DISPOS], [TNCA_DIR_DISEST], [TNCA_DIR_DESCALLE]) VALUES (N'900216    ', 1, -1, 0, 0, N'   ', NULL, N' ', N'  ', N'  ', N'  ', N'   ', NULL, -1, N'')
GO
