USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJDP9]    Script Date: 22/04/2026 11:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJDP9](
	[TDP9_COD_ACCION] [decimal](8, 0) NOT NULL,
	[TDP9_TIP_ACCION] [char](1) NOT NULL,
	[TDP9_NOM_TABLA] [char](15) NULL,
	[TDP9_COD_TABLA] [char](15) NULL,
	[TDP9_IDE_TABLA] [char](15) NULL,
	[TDP9_IDE_TAB_TDATO] [char](15) NULL,
	[TDP9_IDE_TAB_UNID] [char](15) NULL,
	[TDP9_LONG_MAX] [decimal](4, 0) NULL,
	[TDP9_ORDEN] [decimal](6, 0) NULL,
	[TDP9_VALORES] [varchar](200) NULL,
	[TDP9_DEFAULT] [varchar](200) NULL,
	[TDP9_TEX_ACCION] [varchar](200) NULL,
	[TDP9_DES_ACCION_C] [varchar](200) NOT NULL,
	[TDP9_DES_ACCION_E] [varchar](200) NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJDP9] ([TDP9_COD_ACCION], [TDP9_TIP_ACCION], [TDP9_NOM_TABLA], [TDP9_COD_TABLA], [TDP9_IDE_TABLA], [TDP9_IDE_TAB_TDATO], [TDP9_IDE_TAB_UNID], [TDP9_LONG_MAX], [TDP9_ORDEN], [TDP9_VALORES], [TDP9_DEFAULT], [TDP9_TEX_ACCION], [TDP9_DES_ACCION_C], [TDP9_DES_ACCION_E]) VALUES (CAST(1 AS Decimal(8, 0)), N'C', N'TSCIJEST       ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Seleccione Establecimiento de la lista', N'Seleccione Establecimiento de la lista_E')
GO
