USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[estab_urbanismo_salud]    Script Date: 22/04/2026 11:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[estab_urbanismo_salud](
	[cod_establec_urbanismo] [int] NOT NULL,
	[cod_establec_salud] [char](10) NOT NULL,
	[tipo_comparacion] [varchar](100) NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[estab_urbanismo_salud] ([cod_establec_urbanismo], [cod_establec_salud], [tipo_comparacion]) VALUES (2957, N'8344      ', N'nombre_comercial_act')
INSERT [SYSPRO].[estab_urbanismo_salud] ([cod_establec_urbanismo], [cod_establec_salud], [tipo_comparacion]) VALUES (11618, N'3048      ', N'nombre_comercial_act')
INSERT [SYSPRO].[estab_urbanismo_salud] ([cod_establec_urbanismo], [cod_establec_salud], [tipo_comparacion]) VALUES (2958, N'489       ', N'nombre_comercial_act')
GO
