USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJTAB]    Script Date: 22/04/2026 11:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJTAB](
	[TTAB_COD_TAB] [char](15) NOT NULL,
	[TTAB_COD_VAL] [char](15) NOT NULL,
	[TTAB_USU_ALTA] [decimal](7, 0) NULL,
	[TTAB_FEC_ALTA] [date] NULL,
	[TTAB_USU_MODI] [decimal](7, 0) NULL,
	[TTAB_FEC_MODI] [date] NULL,
	[TTAB_USU_BAJA] [decimal](7, 0) NULL,
	[TTAB_FEC_BAJA] [date] NULL,
	[TTAB_DES_CAS] [varchar](200) NULL,
	[TTAB_DES_EUS] [varchar](200) NULL,
	[TTAB_DES_CASB] [varchar](20) NULL,
	[TTAB_DES_EUSB] [varchar](20) NULL,
	[TTAB_AUX_CON1] [varchar](50) NULL,
	[TTAB_AUX_CON2] [varchar](50) NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJTAB] ([TTAB_COD_TAB], [TTAB_COD_VAL], [TTAB_USU_ALTA], [TTAB_FEC_ALTA], [TTAB_USU_MODI], [TTAB_FEC_MODI], [TTAB_USU_BAJA], [TTAB_FEC_BAJA], [TTAB_DES_CAS], [TTAB_DES_EUS], [TTAB_DES_CASB], [TTAB_DES_EUSB], [TTAB_AUX_CON1], [TTAB_AUX_CON2]) VALUES (N'5              ', N'5              ', CAST(20229 AS Decimal(7, 0)), CAST(N'2016-02-04' AS Date), NULL, NULL, CAST(0 AS Decimal(7, 0)), CAST(N'0001-01-01' AS Date), N'MUY DEFICIENTES', N'OSO ESKASAK', N'', N'', NULL, NULL)
INSERT [SYSPRO].[TSCIJTAB] ([TTAB_COD_TAB], [TTAB_COD_VAL], [TTAB_USU_ALTA], [TTAB_FEC_ALTA], [TTAB_USU_MODI], [TTAB_FEC_MODI], [TTAB_USU_BAJA], [TTAB_FEC_BAJA], [TTAB_DES_CAS], [TTAB_DES_EUS], [TTAB_DES_CASB], [TTAB_DES_EUSB], [TTAB_AUX_CON1], [TTAB_AUX_CON2]) VALUES (N'205            ', N'50             ', CAST(20229 AS Decimal(7, 0)), CAST(N'2016-02-04' AS Date), NULL, NULL, CAST(0 AS Decimal(7, 0)), CAST(N'0001-01-01' AS Date), N'130', N'130', N'0', N'0', NULL, NULL)
INSERT [SYSPRO].[TSCIJTAB] ([TTAB_COD_TAB], [TTAB_COD_VAL], [TTAB_USU_ALTA], [TTAB_FEC_ALTA], [TTAB_USU_MODI], [TTAB_FEC_MODI], [TTAB_USU_BAJA], [TTAB_FEC_BAJA], [TTAB_DES_CAS], [TTAB_DES_EUS], [TTAB_DES_CASB], [TTAB_DES_EUSB], [TTAB_AUX_CON1], [TTAB_AUX_CON2]) VALUES (N'205            ', N'51             ', CAST(20229 AS Decimal(7, 0)), CAST(N'2016-02-04' AS Date), NULL, NULL, CAST(0 AS Decimal(7, 0)), CAST(N'0001-01-01' AS Date), N'130', N'130', N'0', N'0', NULL, NULL)
GO
