USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJPR4]    Script Date: 22/04/2026 11:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJPR4](
	[TPR4_COD_IT] [decimal](3, 0) NOT NULL,
	[TPR4_DES_IT] [varchar](100) NOT NULL,
	[TPR4_TEX_IT] [varchar](500) NOT NULL,
	[TPR4_DES_IT_E] [varchar](100) NOT NULL,
	[TPR4_TEX_IT_E] [varchar](500) NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJPR4] ([TPR4_COD_IT], [TPR4_DES_IT], [TPR4_TEX_IT], [TPR4_DES_IT_E], [TPR4_TEX_IT_E]) VALUES (CAST(221 AS Decimal(3, 0)), N'PGAH', N'PGAH', N'PGAH', N'PGAH')
INSERT [SYSPRO].[TSCIJPR4] ([TPR4_COD_IT], [TPR4_DES_IT], [TPR4_TEX_IT], [TPR4_DES_IT_E], [TPR4_TEX_IT_E]) VALUES (CAST(1 AS Decimal(3, 0)), N'Condiciones Generales de Emplazamiento', N'Establecer las Condiciones y requisitos que de manera general, deben cumplir los establecimientos alimentarios, en relación con su emplazamiento.', N'Condiciones Generales de Emplazamiento', N'Establecer las Condiciones y requisitos que de manera general, deben cumplir los establecimientos alimentarios, en relación con su emplazamiento.')
GO
