USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJDP3]    Script Date: 22/04/2026 11:21:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJDP3](
	[TDP3_COD_PROCED] [decimal](3, 0) NOT NULL,
	[TDP3_COD_PROC] [decimal](8, 0) NOT NULL,
	[TDP3_ORDEN_ACCION] [decimal](3, 0) NOT NULL,
	[TDP3_COD_HIS_ALTA] [datetime2](6) NOT NULL,
	[TDP3_COD_HIS_BAJA] [datetime2](6) NOT NULL,
	[TDP3_COD_ACCION] [decimal](8, 0) NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJDP3] ([TDP3_COD_PROCED], [TDP3_COD_PROC], [TDP3_ORDEN_ACCION], [TDP3_COD_HIS_ALTA], [TDP3_COD_HIS_BAJA], [TDP3_COD_ACCION]) VALUES (CAST(2 AS Decimal(3, 0)), CAST(205 AS Decimal(8, 0)), CAST(1 AS Decimal(3, 0)), CAST(N'2017-11-15T13:56:38.6090000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(100 AS Decimal(8, 0)))
INSERT [SYSPRO].[TSCIJDP3] ([TDP3_COD_PROCED], [TDP3_COD_PROC], [TDP3_ORDEN_ACCION], [TDP3_COD_HIS_ALTA], [TDP3_COD_HIS_BAJA], [TDP3_COD_ACCION]) VALUES (CAST(2 AS Decimal(3, 0)), CAST(206 AS Decimal(8, 0)), CAST(1 AS Decimal(3, 0)), CAST(N'2017-01-12T10:40:40.7640000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(99 AS Decimal(8, 0)))
INSERT [SYSPRO].[TSCIJDP3] ([TDP3_COD_PROCED], [TDP3_COD_PROC], [TDP3_ORDEN_ACCION], [TDP3_COD_HIS_ALTA], [TDP3_COD_HIS_BAJA], [TDP3_COD_ACCION]) VALUES (CAST(2 AS Decimal(3, 0)), CAST(208 AS Decimal(8, 0)), CAST(1 AS Decimal(3, 0)), CAST(N'2017-01-12T10:42:18.3880000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(7 AS Decimal(8, 0)))
GO
