USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJACE]    Script Date: 22/04/2026 11:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJACE](
	[TACE_COD_ESTABLEC] [char](10) NOT NULL,
	[TACE_COD_SECTOR] [decimal](3, 0) NOT NULL,
	[TACE_COD_CATEGORIA] [decimal](3, 0) NOT NULL,
	[TACE_COD_ACTIVIDAD] [decimal](3, 0) NOT NULL,
	[TACE_NUM_ORDEN] [smallint] NULL,
	[TACE_TIP_SOL] [decimal](13, 0) NULL,
	[TACE_FEC_ALTA] [date] NULL,
	[TACE_FEC_BAJA] [date] NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJACE] ([TACE_COD_ESTABLEC], [TACE_COD_SECTOR], [TACE_COD_CATEGORIA], [TACE_COD_ACTIVIDAD], [TACE_NUM_ORDEN], [TACE_TIP_SOL], [TACE_FEC_ALTA], [TACE_FEC_BAJA]) VALUES (N'328       ', CAST(92 AS Decimal(3, 0)), CAST(14 AS Decimal(3, 0)), CAST(353 AS Decimal(3, 0)), 1, NULL, CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [SYSPRO].[TSCIJACE] ([TACE_COD_ESTABLEC], [TACE_COD_SECTOR], [TACE_COD_CATEGORIA], [TACE_COD_ACTIVIDAD], [TACE_NUM_ORDEN], [TACE_TIP_SOL], [TACE_FEC_ALTA], [TACE_FEC_BAJA]) VALUES (N'10463     ', CAST(92 AS Decimal(3, 0)), CAST(14 AS Decimal(3, 0)), CAST(356 AS Decimal(3, 0)), 1, NULL, CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date))
INSERT [SYSPRO].[TSCIJACE] ([TACE_COD_ESTABLEC], [TACE_COD_SECTOR], [TACE_COD_CATEGORIA], [TACE_COD_ACTIVIDAD], [TACE_NUM_ORDEN], [TACE_TIP_SOL], [TACE_FEC_ALTA], [TACE_FEC_BAJA]) VALUES (N'5058      ', CAST(21 AS Decimal(3, 0)), CAST(4 AS Decimal(3, 0)), CAST(170 AS Decimal(3, 0)), 1, NULL, CAST(N'0001-01-01' AS Date), CAST(N'0001-01-01' AS Date))
GO
