USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJSCA]    Script Date: 22/04/2026 11:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJSCA](
	[TSCA_COD_SEC] [decimal](3, 0) NOT NULL,
	[TSCA_COD_CAT] [decimal](3, 0) NOT NULL,
	[TSCA_COD_ACT] [decimal](3, 0) NOT NULL,
	[TSCA_FEC_BAJA] [date] NULL,
	[TSCA_DES_CAS] [varchar](200) NULL,
	[TSCA_DES_EUS] [varchar](200) NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJSCA] ([TSCA_COD_SEC], [TSCA_COD_CAT], [TSCA_COD_ACT], [TSCA_FEC_BAJA], [TSCA_DES_CAS], [TSCA_DES_EUS]) VALUES (CAST(91 AS Decimal(3, 0)), CAST(14 AS Decimal(3, 0)), CAST(343 AS Decimal(3, 0)), CAST(N'0001-01-01' AS Date), N'Establecimientos Grupo 0 hostelería.', N'Ostalaritza 0 Taldeko Establezimendua')
INSERT [SYSPRO].[TSCIJSCA] ([TSCA_COD_SEC], [TSCA_COD_CAT], [TSCA_COD_ACT], [TSCA_FEC_BAJA], [TSCA_DES_CAS], [TSCA_DES_EUS]) VALUES (CAST(91 AS Decimal(3, 0)), CAST(13 AS Decimal(3, 0)), CAST(344 AS Decimal(3, 0)), CAST(N'0001-01-01' AS Date), N'Establecimientos Grupo I hostelería.', N'Ostalaritza I Taldeko Establezimendua')
INSERT [SYSPRO].[TSCIJSCA] ([TSCA_COD_SEC], [TSCA_COD_CAT], [TSCA_COD_ACT], [TSCA_FEC_BAJA], [TSCA_DES_CAS], [TSCA_DES_EUS]) VALUES (CAST(91 AS Decimal(3, 0)), CAST(13 AS Decimal(3, 0)), CAST(345 AS Decimal(3, 0)), CAST(N'0001-01-01' AS Date), N'Establecimientos Grupo II hostelería.', N'Ostalaritza II Taldeko Establezimendua')
GO
