USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJPR0]    Script Date: 22/04/2026 11:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJPR0](
	[TPR0_COD_TIPO] [decimal](5, 0) NULL,
	[TPR0_COD_SEC] [decimal](3, 0) NOT NULL,
	[TPR0_COD_CAT] [decimal](3, 0) NOT NULL,
	[TPR0_COD_ACT] [decimal](3, 0) NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJPR0] ([TPR0_COD_TIPO], [TPR0_COD_SEC], [TPR0_COD_CAT], [TPR0_COD_ACT]) VALUES (CAST(1070 AS Decimal(5, 0)), CAST(91 AS Decimal(3, 0)), CAST(13 AS Decimal(3, 0)), CAST(345 AS Decimal(3, 0)))
INSERT [SYSPRO].[TSCIJPR0] ([TPR0_COD_TIPO], [TPR0_COD_SEC], [TPR0_COD_CAT], [TPR0_COD_ACT]) VALUES (CAST(1070 AS Decimal(5, 0)), CAST(91 AS Decimal(3, 0)), CAST(14 AS Decimal(3, 0)), CAST(345 AS Decimal(3, 0)))
INSERT [SYSPRO].[TSCIJPR0] ([TPR0_COD_TIPO], [TPR0_COD_SEC], [TPR0_COD_CAT], [TPR0_COD_ACT]) VALUES (CAST(1 AS Decimal(5, 0)), CAST(10 AS Decimal(3, 0)), CAST(6 AS Decimal(3, 0)), CAST(1 AS Decimal(3, 0)))
GO
