USE [BSCIJCEN]
GO
/****** Object:  Table [SYSPRO].[TSCIJPR1]    Script Date: 22/04/2026 11:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SYSPRO].[TSCIJPR1](
	[TPR1_COD_TIPO] [decimal](5, 0) NULL,
	[TPR1_DES_TIPO] [varchar](100) NOT NULL,
	[TPR1_TEX_TIPO] [varchar](4000) NOT NULL,
	[TPR1_DES_TIPO_E] [varchar](100) NOT NULL,
	[TPR1_TEX_TIPO_E] [varchar](4000) NOT NULL,
	[TPR1_FEC_BAJA] [date] NOT NULL
) ON [BSCIJCEN_DATA]
GO
INSERT [SYSPRO].[TSCIJPR1] ([TPR1_COD_TIPO], [TPR1_DES_TIPO], [TPR1_TEX_TIPO], [TPR1_DES_TIPO_E], [TPR1_TEX_TIPO_E], [TPR1_FEC_BAJA]) VALUES (CAST(2 AS Decimal(5, 0)), N'Mataderos de aves.', N'Establecer las condiciones y requisitos específicos que deben cumplir los mataderos de aves, como establecimientos para la matanza de aves para consumo humano, en todas sus fases de producción, desde la llegada de os animales al matadero hasta la expedición de las carnes, exceptuando los mataderos de aves de producción limitada.', N'DESCRIPCION_EUSKERA', N'TEXTO_EUSKERA', CAST(N'0001-01-01' AS Date))
GO
